/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.DS_Store
public/uploads/host_schools/1658220972_NvSNZ_9027.png
public/uploads/host_schools/1658221053_kbduh_6540.png
public/uploads/host_schools/1658221085_fUyDp_9151.png
public/uploads/host_schools/1658221248_wEzbo_6882.png
public/uploads/host_schools/1658221374_ANPuc_4178.png
public/uploads/host_schools/1658221392_28c8a_4214.png
public/uploads/host_schools/1658221406_7rnRF_1872.png
public/uploads/host_schools/1658221429_olall_2524.png
public/uploads/host_schools/1658221471_MFLZg_5492.png
*.png
*.Identifier
*.pdf
public/uploads/banner/1678690788_25Bm9_4361.jpg
public/uploads/banner/1682483979_e202W_6432.jpg
public/uploads/conference/1684902241_hIqGo_3157.jpg
public/uploads/conference/1684902230_I7BtA_6083.jpg
public/uploads/chat/1696339081_6Tbxq_6027.jpg
