<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>E.A.MUNC | E. Ahamed Model United Nations Conference</title>

    <!-- Primary Meta Tags -->
    <meta name="title" content="E.A.MUNC | E. Ahamed Model United Nations Conference">
    <meta name="description"
        content="E. Ahamed Model United Nations Conference, E.A.MUNC, is a MUN conference affiliated with UN4MUN. It offers the delegates enhancement in leadership and diplomacy skills.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.eamunc.com/">
    <meta property="og:title" content="E.A.MUNC | E. Ahamed Model United Nations Conference">
    <meta property="og:description"
        content="E. Ahamed Model United Nations Conference, E.A.MUNC, is a MUN conference affiliated with UN4MUN. It offers the delegates enhancement in leadership and diplomacy skills.">
    <meta property="og:image" content="https://i.ibb.co/cr6H8BW/hero.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.eamunc.com/">
    <meta property="twitter:title" content="E.A.MUNC | E. Ahamed Model United Nations Conference">
    <meta property="twitter:description"
        content="E. Ahamed Model United Nations Conference, E.A.MUNC, is a MUN conference affiliated with UN4MUN. It offers the delegates enhancement in leadership and diplomacy skills.">
    <meta property="twitter:image" content="https://i.ibb.co/cr6H8BW/hero.jpg">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="assets/css/dashboard.css">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="fixed-nav sticky-footer bg-primary theme-dashboard" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg   fixed-top" id="mainNav">
      <button class="btn float-end display-sm text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <i class="fa fa-bars" aria-hidden="true"></i>

     </button>
     <div class="display-sm">
      <div class="offcanvas bg-primary offcanvas-start mobile-menu" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
        <div class="offcanvas-header">
            
            <button type="button" class="btn-close text-reset text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
               
                <li   class="nav-item">
                  <a class="nav-link " href="dashboard.html">
                   
                    <span >Dashboard</span>
                  </a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" href="paper-submission.html">
                   
                    <span >Paper Submission</span>
                  </a>
                </li>
      
                <li class="nav-item" >
                  <a class="nav-link" href="bloc-formation.html">
                   
                    <span >Bloc Formation</span>
                  </a>
                </li>
      
                
      
                <li class="nav-item" >
                  <a class="nav-link" href="vienna-formula.html">
                   
                    <span >Vienna Formula</span>
                  </a>
                </li>
      
                <li class="nav-item" >
                  <a class="nav-link" href="line-by-line.html">
                   
                    <span >Line by Line</span>
                  </a>
                </li>
      
                <li class="nav-item" >
                  <a class="nav-link" href="registration.html">
                   
                    <span >Resolution</span>
                  </a>
                </li>
      
                <li class="nav-item" >
                  <a class="nav-link" href="general-assebly.html">
                   
                    <span >General Assembly</span>
                  </a>
                </li>
               
            </ul>
        </div>
    </div>
   
  </div>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
          
        <ul class="navbar-nav navbar-sidenav display-lg" id="exampleAccordion">
            <div class="text-center menu-profile">
              <img src="assets/img/commitee/1.jpg" alt="">
              <h4>Aditya Sharma</h4>
              <button type="button" class="btn btn-outline-secondary">My Profile</button>
          </div>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link " href="dashboard.html">
             
              <span >Dashboard</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="paper-submission.html">
             
              <span >Paper Submission</span>
            </a>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link " href="bloc-formation.html">
             
              <span >Bloc Formation</span>
            </a>
          </li>

          

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="vienna-formula.html">
             
              <span >Vienna Formula</span>
            </a>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="line-by-line.html">
             
              <span >Line by Line</span>
            </a>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="resolution.html">
             
              <span >Resolution</span>
            </a>
          </li>

          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="general-assebly.html">
             
              <span >General Assembly</span>
            </a>
          </li>
          
         
          
        
        </ul>


      
        
      </div>
    </nav>
    <div class="content-wrapper">
      <div class="container-fluid dasboard">
        <!-- Breadcrumbs-->
        
      
       
       
        <div class="row">
          <div class="col-md-8">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar rounded-circle d-inline-block" style="width: 40px; height: 40px;">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar rounded-circle d-inline-block" style="width: 40px; height: 40px; margin-left: -10px;">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar rounded-circle d-inline-block" style="width: 40px; height: 40px; margin-left: -10px;">
          </div>
          <div class="col-md-4 ">
            <h5 class="text-primary mb-3 d-inline-block ps-2 " style="line-height: 22px;">  E.Ahamed Model
              United Nations Conference</h5>
            </div>
            
       <div class="col-md-12">
        <h4 class="mb-3 fs-3 text-primary">Paper Submission</h4>
       <div class="">
        
       
         
            <!-- Panel Chat -->
            <div class="chat-box" id="chat">
              
              <div class="panel-body">
                <div class="chats">
                  <div class="chat">
                    <div class="chat-avatar">
                      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                        <i></i>
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                       
                        <p>
                          Good morning, sir.
                          <br>What can I do for you?
                        </p>
                        <time class="chat-time" datetime="2015-07-01T11:37">11:37:08 am</time>
                      </div>
                    </div>
                  </div>
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="Edward Fletcher">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                        <i></i>
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <h6>Keerti Hedge</h6>
                        <p>Well, I am just looking around.</p>
                        <time class="chat-time" datetime="2015-07-01T11:39">11:39:57 am</time>
                      </div>
                    </div>
                  </div>
                  <div class="chat">
                    <div class="chat-avatar">
                      <a class="avatar avatar-online" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="June Lane">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                        <i></i>
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>
                          If necessary, please ask me.
                        </p>
                        <time class="chat-time" datetime="2015-07-01T11:40">11:40:10 am</time>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Say something">
                    <span class="input-group-btn">
                      <button class="btn btn-outline-primary" type="button" style="border-radius:0px  ;"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <!-- End Panel Chat -->
         
         

       </div>
    </div>
     
      
      </div>
      </div>
      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->
      <!-- <footer class="sticky-footer">
       
      </footer> -->
    
      <!-- <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a> -->
     
    </div>
  
  
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script>
      function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $(".image-upload-wrap").hide();

      $(".file-upload-image").attr("src", e.target.result);
      $(".file-upload-content").show();

      $(".image-title").html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);
  } else {
    removeUpload();
  }
}

function removeUpload() {
  $(".file-upload-input").replaceWith($(".file-upload-input").clone());
  $(".file-upload-content").hide();
  $(".image-upload-wrap").show();
}
$(".image-upload-wrap").bind("dragover", function () {
  $(".image-upload-wrap").addClass("image-dropping");
});
$(".image-upload-wrap").bind("dragleave", function () {
  $(".image-upload-wrap").removeClass("image-dropping");
});


</script>

</body>

</html>