:root {
    --color-blue: #166EE1;
    --color-orange: #FF9C00;
    --color-red: #F5424B;
    --color-black: #2d2926;
    --color-white: #fff;
    --font-xxs: 10px;
    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 20px;
    --font-xlg: 24px;
    --font-xxlg: 34px;
    --font-hg: 48px;
    --font-xhg: 60px;
    --font-xxhg: 96px;
    --font-normal: bold italic 15px/20px 'Inter', sans-serif;
}

html, body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Inter', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

h1, .h1 {
    font: normal normal 500 96px 'Inter', sans-serif;
}

h2, .h2 {
    font: normal normal 600 60px 'Inter', sans-serif;
}

h3, .h3 {
    font: normal normal 500 48px 'Inter', sans-serif;
}

h4, .h4 {
    font: normal normal 600 34px 'Inter', sans-serif;
}

h5, .h5 {
    font: normal normal 600 24px 'Inter', sans-serif;
}

h6, .h6 {
    font: normal normal 600 20px 'Inter', sans-serif;
}

p {
    font: normal normal 400 16px 'Inter', sans-serif;
}

.font-normal {
    font: normal normal 500 16px 'Inter', sans-serif;
}

.subtitle {
    font: normal normal 600 16px 'Inter', sans-serif;
}

.subtitle-2 {
    font: normal normal 600 14px 'Inter', sans-serif;
}

.para-1 {
    font: normal normal 400 16px 'Inter', sans-serif;
}

.para-2 {
    font: normal normal 400 14px 'Inter', sans-serif;
}

button {
    font: normal normal 500 16px 'Inter', sans-serif;
}

.caption {
    font: normal normal 400 12px 'Inter', sans-serif;
}

.overline {
    font: normal normal 500 10px 'Inter', sans-serif;
    text-transform: uppercase;
}

.color-blue {
    color: #166EE1;
}

.color-orange {
    color: #FF9C00;
}

.color-red {
    color: #F5424B;
}

.color-black {
    color: #2d2926;
}

.color-darkblue {
    color: #2763AB;
}

.color-white {
    color: #fff;
}

.color-grey {
    color: #8D9091;
}

img {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.section-padding {
    padding: 40px 0;
}

.section-lg-padding {
    padding: 60px 0;
}

.wrapper {
    padding: 0 40px;
}

.mobile-text {
    display: none;
}

.content p:not(:last-child) {
    margin-bottom: 20px;
}

.content strong {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

.border-blue {
    border: 3px solid #5A91E4;
    padding: 40px;
}

.border-black {
    border: 1px solid #000;
    padding: 40px;
}

.lh-2 {
    line-height: 2;
}

strong {
    font-weight: bold;
}

.spacer {
    display: block;
    height: 80px;
    width: 100%;
}

.fixed-thumb img {
    height: 250px;
    object-fit: cover;
}

.h-100 {
    object-fit: cover;
}

.blue-block {
    display: block;
    height: 36px;
    background: #5A91E4;
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 40px;
}

.w-70 {
    width: 70%;
}

.form-group label {
    margin-bottom: 20px;
}

.form-group .form-control {
    padding: 10px;
    border-radius: 0;
    border: 2px solid #ced4da;
}

.form-group .form-control:focus, .form-group .form-control:active {
    border: 2px solid #5A91E4;
    box-shadow: none;
    outline: none;
}

.more-button {
    font-size: 20px;
    color: #2763AB;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
}

.fit-contain {
    object-fit: contain;
}

.accordion-item {
    border: 0;
}

.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 1px solid #6E41E2;
    background: transparent;
}

.form-section {
    border-bottom: 2px solid #ced4da;
}

.form-section:not(:last-child) {
    border-bottom: 5px solid #5A91E4;
}
